@keyframes example {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}
	75% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}

.body {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 0px 20px;
	margin: 40px 40px;
}
.left {
	flex: 0 1 50%;
	cursor: pointer;
}

.picture {
	position: relative;
	text-align: center;
}
.picture > img {
	height: 500px;
}
.animationPicture {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	opacity: 0;
	background-color: rgb(255, 255, 255);
	animation-name: example;
	animation-duration: 0.5s;
}
.right {
	flex: 0 1 50%;
}
.smallPicture {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px 20px;
}
.smallPicture > div {
	flex: 0 1 30%;
	cursor: pointer;
}
.description {
	font-size: 20px;
	margin-top: 30px;
	color: rgb(117, 13, 213);
	letter-spacing: 1.2px;
}
