:root {
	--textColor: #000;
	--yellow: #ebd96b;
}

body {
	font-family: "Oswald", sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: var(--textColor);
}
.active {
	background-color: var(--yellow);
}
.active a {
	color: #6b52a1;
}
