.contacts {
	width: 100%;
}
.header {
	background-color: var(--yellow);
}

.header > h2 {
	padding: 20px 20px 20px 60px;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 2px;
}

.body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 40px;
	width: 80%;
	margin: 40px auto;
}
.left {
	flex: 0 1 50%;
}
.right {
	flex: 0 1 50%;
}
.right > p {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	gap: 10px 10px;
	margin-bottom: 30px;
}
.goldSpan {
	font-size: 20px;
	color: goldenrod;
}
